if SHIELD_SUPER_ERGO_TEST_LEFT || SHIELD_SUPER_ERGO_TEST_RIGHT

config ZMK_KEYBOARD_NAME
    default "Super Ergo"

config ZMK_SPLIT
    default y

endif # SHIELD_SUPER_ERGO_TEST_LEFT || SHIELD_SUPER_ERGO_TEST_RIGHT

if SHIELD_SUPER_ERGO_TEST_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_SUPER_ERGO_TEST_LEFT
