// See https://zmk.dev/docs/development/hardware-integration/new-shield#default-keymap.

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            // Row 0: 4 keys + encoder button
                &trans  &trans  &trans  &trans  &trans
            // Row 1: 6 keys
                &trans  &trans  &trans  &trans  &trans  &trans
            // Row 2: 6 keys
                &trans  &trans  &trans  &trans  &trans  &trans
            // Row 3: 6 keys + encoder button
                &trans  &trans  &trans  &trans  &trans  &trans  &trans
            // Row 4: 7 keys
                &trans  &trans  &trans  &trans  &trans  &trans  &trans
            // Row 5: 7 keys
                &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
